@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import 'tailwindcss';

@theme {
  --color-text-primary: #3b3836;
  --color-text-secondary: #484848;

  --color-bg-light: #fffef6;
  --color-bg-dark: #1b1b1b;

  --color-bg-purple-light: #dfc9fb;
  --color-bg-purple-dark: #d2aeff;

  --color-bg-green-light: #1C9FBE4;
  --color-bg-green-dark: #8fffcb;

  --color-bg-blue-light: #bfe4ff;
  --color-bg-blue-dark: #7bc8ff;

  --color-bg-yellow-light: #f4fbc9;
  --color-bg-yellow-dark: #f4ffb8;

  --color-bg-orange-light: #ffdfcc;
  --color-bg-yellow-dark: #ffccac;

  --font-pacifico: 'pacifico', sans-serif;
}
