---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import About from '../components/About.astro'
import Skills from '../components/Skills.astro';
import Contact from '../components/Contact.astro';
import Project from '../components/Project.astro';
---

<Layout>
	<main class="grid grid-cols-3 grid-rows-5 w-2/3 m-auto h-[calc(100vh-4rem)] gap-2 *:hover:scale-[1.008] *:transition-all [&:has(.card:hover)_.card:not(:hover)]:opacity-80">
		<Header/>
		<About />
		<Skills />
		<Contact />
		<Project />
	</main>
</Layout>
