---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import About from '../components/About.astro'
import Skills from '../components/Skills.astro';
import Contact from '../components/Contact.astro';
import Project from '../components/Project.astro';
---

<Layout>
	<main class="grid grid-cols-3 grid-rows-5 w-full h-screen gap-2">
		<Header/>
		<About />
		<Skills />
		<Contact />
		<Project />
	</main>
</Layout>
