---
---

<div class="card bg-bg-blue-light dark:bg-bg-blue-dark rounded-4xl lg:col-start-3 row-span-3 p-6">
  <h2 class="text-text-primary text-5xl font-pacifico">about me</h2>
  <div class="text-text-secondary text-xl mt-5 font-roboto-mono flex flex-col gap-2 *:text-pretty">
    <p>Hi! I'm Radek, a passionate software developer from Poland.</p>
    <p>My programming journey started about 4 years ago with Python. Nowadays I'm mostly working with Go and Typescript.</p>
    <p>Outside of coding I also enjoy reading, weightlifting and playing the guitar.</p>
  </div>
</div>