---
---

<div class="bg-bg-blue-light dark:bg-bg-blue-dark rounded-4xl col-start-3 row-span-3 p-6">
  <h2 class="text-text-primary text-5xl font-pacifico">about me</h2>
  <p class="text-text-secondary text-xl mt-5">Hi! I'm Radek, a passionate software developer from Poland.</p>
</div>