---
---

<div class="card bg-bg-yellow-light dark:bg-bg-yellow-dark rounded-4xl row-start-4 row-span-2 p-6">
  <h2 class="text-text-primary text-5xl font-pacifico text-center">contact</h2>
  <div class="flex flex-col gap-2 justify-center items-center h-2/3 *:font-roboto-mono *:text-xl *:bg-bg-dark *:text-bg-yellow-dark *:w-3/4 *:px-2 *:py-1 *:rounded-xl text-center *:hover:scale-110 *:transition-transform *:ease-in-out ">
    <a href="https://github.com/radeqq007" target="_blank" rel="noopener noreferrer">github</a>
    <a href="https://www.instagram.com/your.iron.lung/" target="_blank" rel="noopener noreferrer">instagram</a>
    <a href="https://x.com/wcale_nie_radek" target="_blank" rel="noopener noreferrer">twitter</a>
    <a href="mailto:radoslaw.kaczmarczyk@proton.me" target="_blank" rel="noopener noreferrer">e-mail</a>
  </div>
</div>