---
---

<div class="card bg-bg-purple-light dark:bg-bg-purple-dark rounded-4xl col-span-2 row-span-1 flex gap-8 items-center pl-6">
  <img src="https://avatars.githubusercontent.com/radeqq007" alt="github `profile picture`" class="rounded-full h-8/12">
  <h1 class="text-text-primary text-5xl font-pacifico">Radosław Kaczmarczyk</h1>
</div>