---
---

<div class="card bg-bg-purple-light dark:bg-bg-purple-dark rounded-4xl lg:col-span-2 row-span-1 flex lg:flex-row flex-col gap-8 items-center py-10 lg:py-0 lg:pl-6">
  <img src="https://avatars.githubusercontent.com/radeqq007" alt="github `profile picture`" class="rounded-full lg:h-8/12 h-50">
  <h1 class="text-text-primary text-center text-5xl lg:text-5xl font-pacifico">Radosław Kaczmarczyk</h1>
</div>