---
---

<div class="bg-bg-orange-light dark:bg-bg-orange-dark rounded-4xl col-start-2 col-span-2 row-span-2 p-6 relative">
  <h2 class="text-text-primary text-5xl font-pacifico">featured project</h2>
  <p class="my-5 text-xl w-1/2 text-text-secondary font-roboto-mono">oBerry is a lightweight jQuery alternative with modern features, such as built-in reactivity.</p>
  <a href="https://github.com/radeqq007/oBerry" target="_blank" class="text-xl text-text-primary font-roboto-mono">[source code]</a>
  <img src="src/assets/oberry.png" alt="oberry demo" class="h-full float-right absolute right-0 top-0 bottom-0 max-w-1/2"/>
</div>