---
---

<div class="card bg-bg-orange-light dark:bg-bg-orange-dark rounded-4xl lg:col-start-2 lg:col-span-2 row-span-2 p-6 relative">
  <h2 class="text-text-primary text-5xl font-pacifico">featured project</h2>
  <span class="lg:block flex flex-col">
    <p class="my-5 text-xl lg:w-1/2 text-text-secondary font-roboto-mono">oBerry is a lightweight jQuery alternative with modern features, such as built-in reactivity.</p>
    <a href="https://github.com/radeqq007/oBerry" target="_blank" class="text-xl text-center lg:text-left text-text-primary font-roboto-mono">[source code]</a>
    <img src="/portfolio/oberry.png" alt="oberry demo" class="h-full lg:float-right lg:absolute lg:right-0 lg:top-0 lg:bottom-0 lg:max-w-1/2 object-scale-down"/>
  </span>
</div>