---
const skills = ["Javascript", "Typescript", "Tailwind", "Vue.js", "React", "Go", "mySQL", "PostgreSQL", "Linux", "Arch (btw)", "git", "php", "lua"]
---

<div class="card bg-bg-green-light dark:bg-bg-green-dark rounded-4xl lg:col-start-1 lg:col-span-2 row-start-2 row-span-2 p-6">
  <h2 class="text-text-primary text-5xl font-pacifico">Skills</h2>
  <span class="flex flex-wrap gap-3 mt-5">
    {skills.map(skill => <div class="bg-bg-light dark:bg-bg-dark text-text-secondary dark:text-bg-light px-5 py-2 rounded-xl font-roboto-mono grow text-center hover:px-10 hover:scale-110 transition-all ease-in-out duration-250">{skill}</div>)}
  </span>
</div>