@import "tailwindcss";

@theme {
	--color-bg: #171620;
	--color-text: #c0bed5;
	--color-text-secondary: #7a788f;
	--color-accent: #2d2c38;
	--color-highlight: #5312bc;
	--color-cursor: #ffffff;
	--font-anonymous: "Anonymous Pro", monospace;

	--breakpoint-xs: 370px;
}

body {
	@apply font-anonymous cursor-none;
  background-image: radial-gradient(
    circle at center,
    color-mix(var(--color-bg) 95%, white) 0.1rem,
    var(--color-bg) 0
  );
  background-size: 2rem 2rem;
}

a {
	@apply cursor-none;
}
