html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  position: relative;
}

* {
  box-sizing: border-box;
}

:root {
  --bg-color: #1f1f3a;
  --primary-color: #ffd166;
  --secondary-color: #e0e0e0;
}
