html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  position: relative;
}

* {
  box-sizing: border-box;
}

:root {
  --bg-color: #080820;
  --primary-color: #b60cff;
  --secondary-color: #e0e0e0;
}

::-webkit-scrollbar {
  display: none;
}
