:root {
  --bg: #09080c;
  --text: rgb(218, 218, 218);
  --primary: rgb(255, 56, 182);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg);
  color: var(--text);
  margin: 0;
  font-family: 'Raleway', sans-serif;
}
