---
import '../styles/global.css'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="description" content="Radosław Kaczmarczyk - A passionate developer from Poland." />
		<meta name="author" content="Radosław Kaczmarczyk" />
		<meta name="keywords" content="software developer, web developer, Go, TypeScript, React, Vue, full stack developer, Poland developer, radeqq007, Radosław Kaczmarczyk" />
		<meta name="title" content="Radosław Kaczmarczyk - Software Developer" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="Radosław Kaczmarczyk - Software Developer" />
		<meta property="og:description" content="Radosław Kaczmarczyk - A passionate developer from Poland." />
		<meta property="og:site_name" content="Radosław Kaczmarczyk Portfolio" />
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:title" content="Radosław Kaczmarczyk - Software Developer" />
		<meta property="twitter:description" content="Radosław Kaczmarczyk - A passionate developer from Poland." />
		<meta property="twitter:creator" content="@wcale_nie_radek" />

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		
		<meta name="canonical" content={new URL(Astro.url.pathname, Astro.site)} />
		<meta name="generator" content={Astro.generator} />
		<title>Radosław Kaczmarczyk - Software Developer</title>
	</head>
	<body class="bg-bg-light dark:bg-bg-dark">
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 1rem;
	}
</style>
